*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hero{
    display: flex;
    width: 100%;
    gap: 15px;
    margin-top: 22vh;
}

.toggle{
    cursor: pointer;
    color: #ef3a5d;
    border: 3px solid #ffeb5b;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 5px;

}
nav{
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
}
.top-nav{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #000000;
    height: 100px;
    width: 100%;
    align-items: center;
}
 /* ========Logo style ============ */

 .logo-container{
    display: flex;
    height: 80px;
    width: 100%;
}
.logo{
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
}

/* =========Logo End ========= */

.top-nav button{
    padding: 5px 10px;
}
nav img{
    height: 10vh;
}

.navigation{
    display: flex;
    width: 100%;
    gap: 2px;
    height: 70px;
    align-items: center;
}

.navigation .left{
    width: 25%;
    justify-content: flex-end;
    height: 100%;
}

.navigation .right{
    width: 75%;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
}

.left li{
    font-size: 22px;
    font-weight: 700;
    padding: 10px 20px;
}

.navigation .right{
    background-color: #ffeb5b;
}
.right li{
    font-size: 18px;
    padding: 10px 20px;
}

.navigation ul li a{
    color: black;
}

nav ul{
    display: flex;
    gap: 20px;
    background-color: #ef3a5d;
    padding: 10px;
}
.navigation .left li a:hover{
    color: #ffeb5b;
    transition: .9s;
}

.navigation .right li a:hover{
    color: #ef3a5d;
    transition: .9s;

}
nav li{
    list-style: none;
}

nav a{
    text-decoration: none;
}
.hero a, .sect-2 a, .sect-3 a, .sect-4 a, .sect-5 a, .sect-6 a, .sect-7 a, .sect-8 a{
    color: black;
    text-decoration: none;
}
.hero, .sect-2, .sect-3, .sect-4, .sect-5, .sect-6, .sect-7, .sect-8{
    padding: 15px 30px;
}
.left-sct{
    display: flex;
    flex-direction: column;
    width: 25%;

}
.left-hd1{
    border-bottom: 1px solid;
}
.middle-sct{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.middle-sct img{
    height: 53vh;
    margin-bottom: 15px;
}
.mid-ft{
    gap: 10px;
}
.right-sct{
    display: flex;
    flex-direction: column;
    width: 25%;

}
.left-hd2{
    display: flex;
    flex-direction: column;
}
.left-hdnews{
    border-bottom: .5px solid;
    margin-bottom: 5px;
}
.clock{
    display: flex;
}
.left-latest{
    border: 2px solid green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
    transition: .5s ease-in-out;
}
.left-latest:hover{
    background-color: #ffeb5b;
    border-radius: 10px;
    border: none;
    transition: .5s ease-in-out;
}
.left-sct{
    gap: 10px;
}
.left-sct h3{
    background-color: #ef3a5d;
    padding: 7px;
    font-weight: 600;
    margin-bottom: 10px;
}
.middle-sct h3{
    background-color: #ffeb5b;
    padding: 7px;
    font-weight: 600;
    margin-bottom: 10px;
}
.right-sct h3{
    background-color:#ef3a5d ;
    padding: 7px;
    font-weight: 600;
}
.right-sct2{
    border-bottom: .5px solid;
}
.right-sct img{
    width: 100%;
    margin-bottom: 10px;
}
.left-sct img{
    width: 100%;
}
.middle-sct .middle-pic{
    width: 100%;

}
.recommended-news{
    margin-bottom: 10px;
}
.middle-foot{
    display: flex;
    flex-direction: column;
}
.mid-ft{
    display: flex;
}
.mid-ft img{
    height: 10vh;
}
.right-sct2{
    margin-bottom: 10px;
}
.sect-2{
    display: flex;
    background-color:#ffeb5b;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.sect2-news{
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.sect2-img{
    width: 100%;
}
.sect-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sect-3 h4, .sect-4 h4, .sect-5 h4, .sect-6 h4, .sect-7 h4, .sect-8 h4{
    margin-bottom: 15px;
}
.sect3-news{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}
.sect3-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.sect-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.nigeria-news{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.nigeria-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.sect-5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.politics-news{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.politics-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.sect-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.entertainment-news{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.entertainment-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.sect-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.people-news{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.people-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.sect-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.sports-news{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}
.sports-news1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
/* ======== footer======== */
footer{
    display: flex;
    flex-direction: column; 
    /* align-items: center; */
    background-color: #ef3a5d; 
    width: 100%; 
    padding: 0 20px;
}
footer h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
footer a{
    text-decoration: none;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.more-about h4{
    border-bottom: 1px solid white;
}
.social h4{
    border-bottom: 1px solid white;
}
.language h4{
    border-bottom: 1px solid white;
}
.read-us h4{
    border-bottom: 1px solid white;
}
.about-comp{
    display: flex;
    gap: 20px;
}

.about-1{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.about-1 a{
    transition: ease-in-out .5s;
    padding: 10px 15px;
}
.about-1 a:hover{
    background-color: white;
    border-radius: 20px;
    color: black;
    transition: ease-in-out .5s;
}

.social-med{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-lang{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.message svg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
}
.search input{
    padding: 5px 20px;
}
.search button{
    padding: 5px 15px;
    border: none;
    background-color: yellow;
}
.mobile-nav{
    height: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    transition: .9s ease-in-out;
    font-size: 20px;
}
.mobile-nav li{
    list-style: none;
}



@media screen and (max-width: 900px) {
    .mobile-nav{
        margin-top: 100px;

    }
    .hero{
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        width: 100%;
    }
    .left-sct{
        flex-direction: column;
        width: 100%;
    }
    .middle-sct{
        flex-direction: column;
        width: 100%;
    }
    .right-sct{
        flex-direction: column;
        width: 100%;
    }
    .clock{
        display: flex;
    }
    .footer-content{
        flex-direction: column;
    }
    .navigation{
        display: none;
    }
    .sect2-news{
        flex-direction: column;
    }
    .sect3-news{
        flex-direction: column;
    }
    .nigeria-news{
        flex-direction: column;
    }
    .politics-news{
        flex-direction: column;
    }
    .entertainment-news{
        flex-direction: column;
    }
    .people-news{
        flex-direction: column;
    }
    .sports-news{
        flex-direction: column;
    }
    .display{
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            height: 50vh;
            transition: .9s ease-in-out;
    }
}